version: '3.8'

services:
  app:
    build: .
    container_name: prod_app
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - DB_HOST=db 
      - REDIS_HOST=redis
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    image: postgres:16.6-alpine
    container_name: prod_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=anti_fraud
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d anti_fraud"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.4-alpine
    container_name: prod_redis
    ports:
      - "6379:6379"